Flask==2.3.2
gunicorn==21.2.0
Werkzeug==2.3.6
Pyrebase4==4.6.0
stripe==5.4.0
requests==2.31.0
python-dotenv==1.0.0
firebase-admin==6.1.0
pycryptodome==3.19.0
python-jwt==4.1.0
gcloud>=0.18.3
oauth2client==4.1.3



